html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  max-width: 1040px;

  margin: auto;
  padding: 0;
  align-items: center;
}
.top-nav__item {
  display: inline-block;
}
.nav-logo {
  color: rgb(10, 42, 139);
}
header {
  text-align: center;
  overflow: hidden;
  height: 25rem;

  background: url("http://www.boem.gov/uploadedImages/BOEM/Environmental_Stewardship/NOP/CliffBEACH.jpg?n=1249")
    no-repeat center center;
  background-size: cover;

  color: white;
}
.top-nav__headline, .top-nav__subhead {
  align-items: center;
  margins: 0;
}
.top-nav__subhead {
  position: relative;
  bottom: 60px;
  color: black;
  font-size: 12px;
}

h1 {
  font-size: 75px;
}
h2 {
  color: rgb(10, 42, 139);
  font-size: 50px;
}

section {
  max-width: 100%;
  display: flex;
}

article {
  flex: 2;
  padding-left: 60px;
  padding-right: 50px;
  margin-right: 25px;

}

aside {
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
}

.image-guide {
  display: flex;
  width: 1040px;
  align-items: center;
}

.image-guide__post {
  display: flex;
  flex-grow: 1;
  width: 260px;
  height: 250px;
  overflow: hidden;
  margin: auto;
}

.bottom-nav {
  justify-content: space-between;
  width: 1040px;

  margin: auto;
  padding: 0;
  background-color: rgb(10, 42, 139);
}

.bottom-nav__right__items {
  display: inline-block;
  float: right;
}
