html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1040px;
  min-height: 100vh;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  max-width: 1040px;

  margin: auto;
  padding: 0;
  align-items: center;
}
.top-nav__item {
  display: inline-block;
}
.nav-logo {
  color: rgb(10, 42, 139);
}
header {
  text-align: center;
  overflow: hidden;
  height: 25rem;

  background: url("http://www.boem.gov/uploadedImages/BOEM/Environmental_Stewardship/NOP/CliffBEACH.jpg?n=1249")
    no-repeat center center;
  background-size: cover;

  color: white;
}
.top-nav__headline, .top-nav__subhead {
  align-items: center;
  margins: 0;
}
.top-nav__subhead {
  position: relative;
  bottom: 60px;
  color: black;
  font-size: 12px;
}

h1 {
  font-size: 75px;
}
h2 {
  color: rgb(10, 42, 139);
  font-size: 50px;
}

.content {
  display: flex;
  max-width: 100%;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
}

.button {
  display: inline-block;
  margin: 1 rem;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.image-guide__pics {
  height: 260px;
  width: 260px;
}

.image-guide {
  display: flex;

  width: 100%;

  overflow: hidden;

}

.image-guide__post {
  display: flex;


  height: 100px;
  overflow: hidden;
  margin: auto;
}

.bottom-logo {
  width: 2rem;
  height: 2rem;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: rgb(10, 42, 139);
}

.bottom-nav__left {
  display: flex;
}

.bottom-nav__right__items {
  display: inline-block;
  float: right;
}
